.banner{
  overflow: hidden !important;
  background-image: url("../public/images/unsplash.png") !important;
  min-height: 80vh !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.banner2{
  overflow: hidden !important;
  background-image: url("../public/images/article.png") !important;
  min-height: 80vh !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.content2 {
  background-image: linear-gradient(to right,white , transparent);
  width: 100%;
  min-height: 80vh;
}
.gba_blue{
  background-color: rgba(218, 250, 250,1);
}
.card-img{
  border: transparent !important;
}
.filter{
  overflow-y: hidden;
  overflow-x: hidden;
  max-width: 100vw;
}
.content{
  width: 50% !important;
}
.poster{
  max-width: 8em !important;
  max-height: 100% !important;
}

.pamflet{
  width: 10em;
  height: 15em;
}